@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
}

.mainpage{
  width: 90%;
  margin: 0 auto;
}
::selection {
  background-color: #70aed13b; 
  color: rgb(0, 0, 0); 
}