@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
}

.mainpage{
  width: 90%;
  margin: 0 auto;
}
::selection {
  background-color: #70aed13b; 
  color: rgb(0, 0, 0); 
}

/* CSS for perticular checkbox  */
.checkbox {

  width: 24px;
  
  height: 24px;
  
  border-radius: 50%;
  
  border: 2px solid #ccc;
  
  appearance: none;
  
  -webkit-appearance: none;
  
  outline: none;
  
  cursor: pointer;
  
  position: relative;
  
  border-color: #2195f38c;
  
  }
  
  .checkbox:checked {
  
  background-color: #2196f3;
  
  }
  
  .checkbox:checked:after {
  
  content: "✔";
  
  font-size: 16px;
  
  color: white;
  
  position: absolute;
  
  top: 50%;
  
  left: 50%;
  
  transform: translate(-50%, -50%);
  
  }