.maindiv{
    width: 30%;
    height: 300px;
    margin: 20px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.13);
    border-radius: 8px;
    overflow-y: auto;
}

.imgdiv{
    display: flex;
    margin-top: 2rem;
    align-items: center;
}
.img1{
    transform: translateX(25%);
    border: 1px solid red;
    border-radius: 100%;
}